<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Mpg</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-success-subtle border border-success-subtle rounded-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MPG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/diabetesForm">Diabetes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<form method="post">
    <label>horsepower</label>
    {{ form.horsepower() }}
    <br>
    <label>weight</label>
    {{ form.weight() }}
    <br>
    <label>cylinders</label>
    {{ form.cylinders() }}
    <br>
    <label>modelYear</label>
    {{ form.modelyear() }}
    <label>car from japan</label>
    {{ form.origin_japan() }}
    <label>car from usa</label>
    {{ form.origin_usa() }}
    <label>car from europe</label>
    {{ form.origin_europe() }}


    {{ form.submit() }}
</form>
<h1>
   {{ pred }}
</h1>
<h3>
   Please fill out all of the above boxes with the information required.

</h3>
<h3>When you press submit, the MPG for the car based on the data will appear</h3>
<h3>Note: for the country your car is from, please put the number 1 in the designated box, and put all others as 0.</h3>
</body>
</html>